.footer {
  background-color: var(--white-color);
  padding: em(30px) 0;
  margin: 0;
  width: 100%;
  position: relative;
  .inline-ft {
    @include flexbox();
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    .left-ft {
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      .ft-nav {
        @include flexbox();
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        position: relative;
        list-style-type: none;
        @media screen and (max-width: 767px) {
          display: block;
          width: 100%;
          text-align: center;
        }
        .ft-nav-item {
          margin-right: 35px;
          @media screen and (max-width: 767px) {
            margin-bottom: 15px;
            margin-right: 0;
          }
          &:last-of-type {
            margin-right: 0;
          }
          .ft-nav-text {
            font-size: em(14px);
            font-weight: 500;
            font-family: var(--rl-regular);
            position: relative;
            color: var(--graydk-color);
            display: block;
            margin-bottom: 0;
          }
        }
        .ft-line {
          position: relative;
          margin-right: 35px;
          @media screen and (max-width: 767px) {
            margin-bottom: 35px;
            margin-right: 0;

          }
          &:before {
            content: '';
            background-color: var(--graydk-color);
            width: 1px;
            height: 14px;
            @include position(absolute, 0, null, null, 50%);
            transform: translate(0, -50%);
            @media screen and (max-width: 767px) {
              width: 20px;
              height: 1px;
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
    .right-ft {
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      .ft-nav {
        @include flexbox();
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        position: relative;
        list-style-type: none;
        @media screen and (max-width: 767px) {
          display: block;
          text-align: center;
          width: 100%;
        }
        .ft-nav-item {
          margin-right: 35px;
          @media screen and (max-width: 767px) {
            margin-bottom: 15px;
            margin-right: 0;
          }
          &:last-of-type {
            margin-right: 0;
          }
          .ft-nav-link {
            font-size: em(14px);
            font-weight: 500;
            font-family: var(--rl-regular);
            position: relative;
            color: var(--graydk-color);
            display: block;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .ft-line {
          position: relative;
          margin-right: 35px;
          @media screen and (max-width: 767px) {
            margin-bottom: 35px;
            margin-right: 0;
          }
          &:before {
            content: '';
            background-color: var(--graydk-color);
            width: 1px;
            height: 14px;
            @include position(absolute, 0, null, null, 50%);
            transform: translate(0, -50%);
            @media screen and (max-width: 767px) {
              width: 20px;
              height: 1px;
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }
}
