.footer--section {
  padding: em(30px) 0;
  width: 100%;
  position: relative;
  margin: 0;
  background-color: var(--dark-color);

  .ft-left {
    .ft-inline {
      @include flexbox();
      flex-wrap: wrap;
      align-items: center;
      position: relative;
      list-style-type: none;

      @media screen and (min-width: 320px) and (max-width: 450px) {
        justify-content: center;
        flex-direction: column;
      }

      .ft-list {
        color: var(--gray-color);
        font-size: em(16px);
        font-family: var(--font-gilroy);
        font-weight: 400;
        position: relative;
        margin-right: 30px;
        @media screen and (min-width: 320px) and (max-width: 450px) {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
      .line {
        position: relative;
        margin-right: 30px;
        @media screen and (min-width: 320px) and (max-width: 450px) {
          display: none;
        }
        &:before {
          content: '';
          background-color: var(--gray-color);
          height: 12px;
          width: 1px;
          @include position(absolute, 50%, null, null, 0);
          transform: translateY(-50%);
        }
      }
    }
  }

  .ft-right {
    @include flexbox();
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    .ft-inline {
      @include flexbox();
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      list-style-type: none;

      @media screen and (min-width: 320px) and (max-width: 450px) {
        justify-content: center;
        flex-direction: column;
      }

      a {
        color: var(--secondary-color);
        margin-bottom: 0;
      }

      .ft-list {
        color: var(--gray-color);
        font-size: em(16px);
        font-family: var(--font-gilroy);
        font-weight: 400;
        position: relative;
        margin-right: 30px;
        @media screen and (min-width: 320px) and (max-width: 450px) {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
      .line {
        position: relative;
        margin-right: 30px;
        @media screen and (min-width: 320px) and (max-width: 450px) {
          display: none;
        }
        &:before {
          content: '';
          background-color: var(--gray-color);
          height: 12px;
          width: 2px;
          @include position(absolute, 50%, null, null, 0);
          transform: translateY(-45%);
        }
      }
    }
  }
}
