:root {
    --font-slack: 'Raleway', sans-serif;
    --font-regular: 'Karla', sans-serif;
    --primary-color: #1c267b;
    --secondary-color: #ff6948;
    --black-color: #000;
    --dark-color: #222;
    --light-color: #2f3992;
    --lighter-color: #646baf;
    --gray-color: #edf2f9;
    --white-color: #fff;
    --yellow-color: #ffb700;
    --lightgreen-color: #00b600;
    --dark2-color: #17222c;
    --red-color: #FF0400;
}