:root {
  --font-primary: 'Raleway', sans-serif;
  --color1: #fff;
  --color2: #000;
  --color3: #334e6f;
  --color4: #f4f5fa;
  --color5: #b1b1b1;
  --color6: #202020;
  --color7: #8E2DE2;
  --color8: #dfe6e9;
}
