:root {
  --font-regular: 'Josefin Sans', sans-serif;
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
  --primary-color: #023672;
  --secondary-color: #c62129;
  --white-color: #fff;
  --dark-color: #000;
  --lightrd-color: #ff0000;
  --lightbl-color: #025a96;
  --darkbl-color: #011318;
}
