@import '_base';

// Input Field
.form-group {
  position: relative;
  .form-control {
    position: relative;
    &:focus {
      box-shadow: none;
      border-color: $purple-color;
    }
  }
  .input-group-prepend {
    #inputGroupPrepend {
      position: absolute;
      top: 32px;
      right: 0;
    }
  }
}
