// Base Mixin Transition
@mixin transition($transition) {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
}

// Base Mixin Flexbox
@mixin flexbox() {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
}

// Base Mixin Border Radius
@mixin border-radius($border-radius) {
    border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -ms-border-radius: $border-radius;
    -o-border-radius: $border-radius;
}