.client {
  &--section {
    padding: em(75px) 0;
    margin: 0;
    background-color: var(--secondary-color);
    position: relative;

    .heading {
      text-align: center;
      margin-bottom: 50px;
      h2 {
        font-size: em(30px);
        font-family: var(--font-secondary-extraBold);
        font-weight: 900;
        color: var(--white-color);
        text-align: center;
        position: relative;
        display: block;
        visibility: visible;
        text-transform: uppercase;
        span {
          color: var(--primary-color);
        }
        @media screen and (min-width: 320px) and (max-width: 450px) {
          font-size: em(20px);
          // line-height: 30px;
        }
      }
    }
  }

  &--inline {
    @include flexbox();
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 900px;
    margin: 0 auto;
    .inline--list {
      @include flexbox();
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      @media screen and (min-width: 320px) and (max-width: 600px) {
        justify-content: center;
        margin-bottom: 30px;
        width: 100%;
      }
      span {
        color: var(--white-color);
      }

      .img {
        margin-right: 30px;
        @media screen and (min-width: 768px) and (max-width: 800px) {
          margin-right: 10px;
        }
      }

      .text {
        font-size: em(16px);
        font-family: var(--font-secondary-extraBold);
        font-weight: 700;
        color: var(--white-color);
        position: relative;
        text-align: left;
        line-height: 23px;
        text-transform: uppercase;
        display: block;
      }
    }
  }
}
