.about--section {
    padding: em(130px) 0;
    margin: 0;
    width: 100%;
    position: relative;
    display: block;

    .about--paragraph {
        margin-top: em(45px);
        h4 {
            font-size: em(25px);
            font-weight: 700;
            font-family: var(--font-regular);
            font-style: normal;
            text-align: left;
            position: relative;
            color: var(--white-color);
            display: block;
            margin-bottom: em(15px);
        }

        p {
            font-size: em(16px);
            font-family: var(--font-slack);
            font-weight: 400;
            font-style: normal;
            position: relative;
            text-align: left;
            display: block;
            margin-bottom: 20px;
            color: #ddd;
        }

        .button {
            .resume-btn {
                background-color: var(--red-color);
                border-color: var(--red-color);
                padding: em(12px) em(30px);
                font-size: em(20px);
                font-weight: 600;
                font-family: var(--font-regular);
                position: relative;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                color: var(--white-color);
                @include border-radius(0);
                &:focus {
                    outline: none;
                    box-shadow: none;
                    border-color: var(--red-color);
                }
            }
        }
    }
}
