* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    // &:before, &:after {
    //     content: '';
    //     margin: 0;
    //     padding: 0;
    //     box-sizing: border-box;
    //     -moz-box-sizing: border-box;
    //     -webkit-box-sizing: border-box;
    // }
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

#safari {
    background-color: #000
}

body {
    background-color: var(--black-color);
    font-family: var(--font-regular);
    height: 100%;
    width: 100%;
    #safari {
        background-color: #000
    }
}

html, body {
    width: 100%;
    height: 100%;
}

::-webkit-selection {
    background-color: var(--red-color);
    color: var(--white-color);
}

::-moz-selection {
    background-color: var(--red-color);
    color: var(--white-color);
}

::selection {
    background-color: var(--red-color);
    color: var(--white-color);
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

@media (min-width: 1300px) {
    .container {
        max-width: 1300px !important;
    }

    .wrapper {
        max-width: 1024px !important;
        margin: 0 auto;
    }

    .hidden {
        overflow: hidden;
    }
}

@media screen and (max-width: 992px) {
    .wrapper {
        margin-right: 30px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 767px) {

    .container {
        max-width: 700px !important;
    }


    .main-footer {
        .ft--inner {
            .list-inner-ft {
                li {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .container {
        max-width: 370px !important;
        margin: 0 auto;
    }
}

.heading {
    .title {
        font-size: em(50px);
        font-weight: 700;
        font-family: var(--font-regular);
        text-align: left;
        position: relative;
        display: block;
        color: var(--white-color);
        @media screen and (max-width: 767px) {
            font-size: em(50px);
        }

        @media screen and (max-width: 600px) {
            font-size: em(35px);
        }

        @media screen and (max-width: 450px) {
            font-size: em(30px);
        }

        @media screen and (max-width: 350px) {
            font-size: em(20px);
        }
    }

    .text-rd {
        color: var(--red-color);
        margin-bottom: 2px;

        span {
            display: block;
            &:before {
                content: '';

                @include position(absolute, null, null, 7px, -20px);

                background-color: #ddd;
                width: 100px;
                height: 10px;
                z-index: -1;

                @media screen and (max-width: 600px) {
                    display: none;
                }
            }
        }
    }
}

.rev-block {
    position: absolute;
    width: 50%;

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.rev-block:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--red-color);
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 1s;
}

.rev-block span {
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 1.4s;
}

@keyframes rev-block {
    0% {
        left: 0;
        width: 0%;
    }

    50% {
        left: 0;
        width: 100%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}

@keyframes appear-text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#onemore {
    top: 0%;
    left: 0%;
}

#onemore span {
    animation-delay: 2s;
}

#onemore.rev-block:after {
    background: var(--red-color);
    animation-delay: 1.4s;
}