.work--section {
    margin: 0;
    padding: em(130px) 0;
    width: 100%;
    position: relative;

    .heading {
        .title {
            font-size: em(50px);
            font-weight: 700;
            font-family: var(--font-regular);
            text-align: left;
            position: relative;
            display: block;
            color: var(--white-color);
            @media screen and (max-width: 767px) {
                font-size: em(50px);
            }

            @media screen and (max-width: 600px) {
                font-size: em(35px);
            }

            @media screen and (max-width: 450px) {
                font-size: em(30px);
            }

            @media screen and (max-width: 350px) {
                font-size: em(20px);
            }
        }

        .text-rd {
            color: var(--red-color);
            margin-bottom: 2px;

            // &:after {
            //     content: '';

            //     @include position(absolute, null, null, 7px, -20px);

            //     background-color: #ddd;
            //     width: 100px;
            //     height: 10px;
            //     z-index: -1;
            // }
        }
    }

    .work {
        &--xd {
            width: 100%;
            position: relative;
            margin-top: em(60px);
        }

        &--inner {
            margin-bottom: 50px;
            overflow: hidden;
            width: 100%;
            max-height: 400px;
            min-height: 400px;
            @include transition(0.25s all ease-in-out);
            position: relative;

            &:before {
                content: '';
                @include position(absolute, 0, 0, 0, 0);
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                z-index: 1;
                opacity: 0;
                @include transition(0.25s all ease-in-out);
            }

            &:hover {
                &:before {
                    opacity: 1;
                    @include transition(0.25s all ease-in-out);
                }
                img {
                    transform: scale(1.1);
                    @include transition(0.25s all ease-in-out);
                }

                .link-project {
                    // transform: translateY(-20px);
                    transform: translate(30px, -20px);
                    @include transition(0.25s all ease-in-out);
                    animation-delay: 2s;
                    // .sm-text {
                    // }
                }
            }

            img {
                width: 100%;
                max-height: 400px;
                min-height: 400px;
                position: relative;
                display: block;
                @include transition(0.25s all ease-in-out);
            }

            .link-project {
                padding: em(20px) 0;
                @include position(absolute, null, null, 0, 0);
                // transform: translate(100px);
                transform: translate(30px, 100px);
                @include transition(0.25s all ease-in-out);
                animation-delay: 2s;
                z-index: 10;

                .sm-text {
                    display: block;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: var(--font-regular);
                    text-align: left;
                    position: relative;
                    color: #9A9A9A;
                    line-height: 22px;
                }

                .link--inner {
                    font-size: em(30px);
                    font-family: var(--font-regular);
                    font-weight: 700;
                    position: relative;
                    text-align: left;
                    display: block;
                    color: var(--white-color);
                    text-decoration: none;
                }
            }
        }
    }
}

.animation-wrapper {
    width: 50%;
    padding-bottom: 50%;
}

.sphere-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 580px;
    height: 580px;
    margin: -290px 0 0 -290px;
}

.sphere path {
    fill: url(#sphereGradient);
    stroke-width: 1px;
    stroke: rgba(80, 80, 80, 0.35);
    backface-visibility: hidden;
}

@media (min-width: 500px) {
    .sphere path {
        stroke-width: .4px;
    }
}

sup {
    vertical-align: super;
    font-size: .625em;
}

strong {
    font-weight: 600;
}

.color-white {
    color: #F6F4F2;
} /* White */
.color-black {
    color: #2E2C2C;
} /* Black */
.color-red, .color-targets {
    color: #FF4B4B;
} /* red: */
.color-orange, .color-properties {
    color: #FF8F42;
} /* orange: */
.color-lightorange, .color-prop-params {
    color: #FFC730;
} /* lightorange: */
.color-yellow, .color-anim-params {
    color: #F6FF56;
} /* yellow: */
.color-citrus, .color-values {
    color: #A4FF4F;
} /* citrus: */
.color-green, .color-keyframes {
    color: #18FF74;
} /* green: */
.color-darkgreen, .color-staggering {
    color: #00D672;
} /* darkgreen: */
.color-turquoise, .color-tl {
    color: #3CFFEC;
} /* turquoise: */
.color-skyblue, .color-controls {
    color: #61C3FF;
} /* skyblue: */
.color-kingblue, .color-callbacks {
    color: #5A87FF;
} /* kingblue: */
.color-lavender, .color-svg {
    color: #8453E3;
} /* lavender: */
.color-purple, .color-easings {
    color: #C26EFF;
} /* purple: */
.color-pink, .color-helpers {
    color: #FB89FB;
} /* pink: */

.anime-mini-logo {
    width: 100px;
    height: 24px;
    transform: scaleY(0.5);
}
